services:
  apache:
    build:
      context: .
      dockerfile: build/apache/php-8.4/Dockerfile
#    image: rifkat/magento-php-apache:7.4
    ports:
      - "80:80"
      - "9005:9000" # xdebug
    volumes:
      - ./src:/var/www/html
      - ~/.composer/cache:/var/www/.composer/cache
      - ~/.npm:/var/www/.npm
    environment:
      XDEBUG_CONFIG: "remote_host=localhost"
      PHP_IDE_CONFIG: "serverName=Docker"
#      VIRTUAL_HOST: "example.localhost"
    depends_on:
      - db
    links:
      - db
    networks:
      - network

  db:
    image: mariadb:11.4
    ports:
     - 3300:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=magento
      - MYSQL_USER=magento
      - MYSQL_PASSWORD=magento
    volumes:
      - dbdata:/var/lib/mysql
      - ./backups:/var/tmp/backups
    networks:
      - network

#  redis:
#    image: redis
#    ports:
#     - 6379
#    networks:
#      - -network
#
#  redis-session:
#    image: redis
#    ports:
#     - 6379
#    networks:
#      - network

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    volumes:
      - ./data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - network

#  elasticsearch:
#    build:
#      context: .
#      dockerfile: build/elasticsearch/Dockerfile
#    environment:
#      - cluster.name=docker-cluster
#      - bootstrap.memory_lock=true
#      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
#      - node.name=node-1
#      - cluster.initial_master_nodes=node-1
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1
#    volumes:
#      - ./elasticsearchdata:/usr/share/elasticsearch/data
#    ports:
#      - 9200:9200
#    networks:
#      - network

  opensearch: # This is also the hostname of the container within the Docker network (i.e. https://opensearch-node1/)
    build:
      context: .
      dockerfile: build/opensearch/Dockerfile
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - ELASTIC_CONTAINER=true
      - plugins.security.disabled=true
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Strong!Password#1
    ulimits:
      memlock:
        soft: -1 # Set memlock to unlimited (no soft or hard limit)
        hard: -1
    volumes:
      - ./opensearch:/usr/share/opensearch/data # Creates volume called opensearch-data1 and mounts it to the container
    ports:
      - 9200:9200 # REST API
    networks:
      - network # All of the containers will join the same Docker bridge network

networks:
  network:
    driver: bridge

volumes:
  opensearch:
  dbdata:
    driver: local
